* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#body {
  width: 100%;
  padding: 0 8vw;
}
.mycard {
  background-image: url(https://images.unsplash.com/photo-1646329169610-0bca29301b55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGFyayUyMGJsdWUlMjBzaGFkZSUyMGltYWdlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
  height: 12em;
  width: 100%;
  color: white;
  background-size: cover;
  background-position: center;
  padding: 1em 4em;
  font-size: 3vh;
}
.moviegrid {
  margin: 3em 0;
  position: relative;
  overflow: hidden;
}
.grid {
  display: flex;
  margin-top: 1em;
  overflow: auto;
}
.grid .moviedata {
  margin: 0.5em 0.7em;
  width: 10em;
  margin-bottom: 2em;
}
.grid .moviedata .movieimage {
  height: 15em;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1em;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
